<!DOCTYPE html>
<html>

<head>
  <title>My To-Do List!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <h1>Favorite Traveling Photos</h1>
  <ul>
    <li><img src='https://unsplash.com/photos/4YrVF0gVdjk' /></li>
    <li><img src='https://unsplash.com/photos/lPisy6uH6KI' /></li>
    <li><img src='https://unsplash.com/photos/h4qemJrfS8Y' /></li>
  </ul>
</body>

</html>